@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');
body{
	background: url(/images/Floral-Img-1.JPEG) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
a:link{
	color: #ffe5ea;
	text-decoration: none;
}

a:hover, a:active, a:visited {
	color:#ffccd5;
	text-decoration: none;
}

.block{
	background-color:rgba(0,0,0,0.3);
  	padding-left:12px;
  	padding-right:12px;
    height:180px;
    padding-top: 1px;
    padding-bottom: 20px;
    overflow-y: scroll;
}




