/* Color Palette #3058 */


.container{
	width: 100vw;
	background-color: #3f373c;
	padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.row div{
	padding: 0;
	margin: 0;
}

#listMenu a:hover{
	font-weight: bolder;
	text-shadow: 2px 6px #000;
}

#listMenu ul li a{
	text-decoration: none;
	color: #c1b6b4;
	font-weight: normal;
	line-height: 2em;
}
#listMenu ul {
	list-style: none;
}

#mainRow{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	}

@media (min-width:1200px){

	/*background: url('../images/uxCoverLg.png') no-repeat;} 
	background-size: 90% 90%;*/
	#mainRow{
		height: 100vh;
	}
	#designThinking h1{
		width: 100vw;
		min-height: 10vh;
		color: #c1b6b4;
		font-size: 1.8em;
		letter-spacing: 2.7em;
		text-align: center;
	}
	#uxImgLg{
		width: 100vw;
		max-height: 90vh;
	}
	#listMenu {
		padding-top: 10%;
	}
	#listMenu ul li a{
	font-size: 2em;
}
}

@media (min-width:1600px){
	#designThinking h1{
		font-size: 2em;
		letter-spacing: 3.3em;
		margin-top: 5%;
	}
	#listMenu ul li a{
		padding-left: 10%;
		font-size: 3em;
}
}

@media (min-width:992px) and (max-width: 1199px){
	#mainRow{
		height: 100vh;
	}
	
	#uxImgMdMsXs{
		width: 100vw;
		max-height: 80vh;
	}
	#designThinking h1{
		width: 100vw;
		height: 10vh;
		color: #c1b6b4;
		font-size: 1.5em;
		letter-spacing: 2.5em;
		text-align: center;
	}
	#listMenu {
		padding-top: 10%;
	}
	#listMenu ul li a{
	font-size: 1.8em;
}
}
@media (min-width:768px) and (max-width:991px){
	#mainRow{
		max-height: 100vh;
	}

	#uxImgMdMsXs{
		max-height: 60vh;
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;

	}
	#designThinking h1{
		min-width: 100vw;
		min-height: 10vh;
		color: #c1b6b4;
		font-size: 1.3em;
		letter-spacing: 2em;
		text-align: center;
	}
	#listMenu {
		min-width: 100vw;
		text-align: center;
		padding-top: 5%;
	}
	#listMenu ul li a{
		max-height: 30vh;
		font-size: 1.4em;
	}
}

@media (max-width:767px){
	#mainRow{
		max-height: 100vh;
	}

	#uxImgMdMsXs{
		max-width: 100vw;
		max-height: 50vh;
		margin-top: 2%;
		margin-left: auto;
		margin-right: auto;
	}
	#listMenu {
		min-width: 100vw;
		text-align: center;
		padding-top: 5%;
	}

	#designThinking h1{
		min-width: 100vw;
		max-height: 10vh;
		color: #c1b6b4;
		font-size: 1em;
		letter-spacing: 2.1em;
		text-align: center;
		margin-top: -10px;
		font-weight: bold;
	}
	#designThinking div:nth-child(2){
		margin-top: 10px;
	}
	#listMenu ul li a{
		max-height: 20vh;
		font-size: 1.2em;
	}
}


/*
.container #mainRow #menuTile {
	height: 100vh;
	overflow-y: hidden;
}
.container #mainRow #uTile {
	height: 100vh;
	overflow-y: hidden;
}
.container #mainRow #xTile{
	height: 100vh;
	overflow-y: hidden;
}

#menuTile{
	background:
	#c1b6b4;
	padding: 0;
}

#uTile{
	background:
	#e8e1d7;
	padding: 0;
}

#xTile{
	background:
	#f2efe8; 
	color: #e8e1d7;
	padding: 0;
}

.container #mainRowForSMandXSsize{
	background-color: #f2efe8;
}

#listMenu ul {
	list-style-type: none;
}

#listMenu ul li a{
	text-decoration: none;
	color: #e5e8e5;
	font-weight: normal;
	font-size: 20pt;
}

#menuTile a:hover{
	color: #000;
}


@media (min-width:1200px){
	#uxImage{
	margin-top: 20%;
	}
	#ux1Image{
		margin-top: -110.7%;
	}
	#listMenu ul li a{
		margin-left: 50%;
	}
	#listMenu{
		margin-top: 45%;
	}
	#menuTile h1{
		position: absolute;
		bottom: 3%;
		right: 0;
		text-align: center;
		letter-spacing: 20pt;
		color: #000;
	}
	#uTile h1{
		position: absolute;
		bottom: 3%;
		text-align: center;
		letter-spacing: 30pt;
		color: #000;
	}
}

@media (min-width:992px) and (max-width:1199px){
	#uxImage{
	margin-top: 20%;
	}
	#ux1Image{
		margin-top: -110.8%;
	}

	#listMenu ul li a{
	font-size: 18pt;
	margin-left: 40%;
	}
	#listMenu{
		margin-top: 45%;
	}
	#menuTile h1{
		position: absolute;
		bottom: 3%;
		right: 0;
		text-align: center;
		letter-spacing: 15pt;
		color: #000;
	}
	#uTile h1{
		position: absolute;
		bottom: 3%;
		text-align: center;
		letter-spacing: 15pt;
		color: #000;
	}

}
@media (min-width:768px) and (max-width:991px){
	.container #mainRow #menuTile {
	height: 70vh;
	}
	.container #mainRow #uTile {
		height: 70vh;
	}
	.container #mainRow #xTile{
		height: 70vh;
	}
	.container #mainRowForSMandXSsize{
		height: 30vh;
	}
	#uxImage{
	margin-top: 20%;
	}
	#ux1Image{
		margin-top: -111%;
	}
	#listMenu{
		margin-top: 130%;
	}
	#listMenu ul li a{
	font-size: 15pt;
	margin-left: 35%;
	}
	#listMenu{
		margin-top: 45%;
	}
	#mainRowForSMandXSsize h1{
		text-align: center;
		letter-spacing: 22pt;
		padding-top: 3%;
	}
		#mainRowForSMandXSsize h1:nth-child(2){
		padding-top: 0;
	}

}
@media (max-width:767px){
	.container #mainRow #menuTile {
	height: 50vh;
	}
	.container #mainRow #uTile {
		height: 50vh;
	}
	.container #mainRow #xTile{
		height: 50vh;
	}
	.container #mainRowForSMandXSsize{
		height: 50vh;
	}
	#uxImage{
	margin-top: 10%;
	}
	#ux1Image{
		margin-top: -120.81%;
	}
	#listMenu ul li a{
		font-size: 10pt;
		margin-left: 1%;
	}
	#listMenu{
		margin-top: 40%;
	}
	#mainRowForSMandXSsize h3{
		font-size: 10pt;
		text-align: center;
		letter-spacing: 15pt;
		padding-top: 0;
	}
	#mainRowForSMandXSsize h3:nth-child(2){
		padding-top: 5%;
	}

} */